/* Reset default margin and padding */
body,  h2, table {
    margin: 0;
    padding: 0;
    
}
h1{
    text-align: center;
}
/* Apply a background color to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}



/* Style the main content */
main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Style the best game sections */
.best-game {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

/* Style the table */
.table-best-players {
    width: 100%;
    border-collapse: collapse;
}

/* Style the table headers */
.table-best-players th {
    background-color: #118ab2;
    color: white;
    padding: 12px 10px;
    text-align: left;
    font-weight: bold;
}

/* Style the table rows */
.table-best-players td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Style alternate table rows */
.table-best-players tr:nth-child(even) {
    background-color: #f2f2f2;
}

#footer{
    margin-top: 6%;
    text-align: center;
    line-height: 2;
}

