.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
    margin-top: 12px;
}

.card {
    background-color: aqua;
    width: 90px;
    height: 90px;
    margin-right: 10px; 
    border: 2px solid black;
    background-size: cover;
    cursor: pointer;
    background-size: 100% 100%;
    transition: transform 0.9s;
}
.card.flipped {
    transform: rotateY(180deg); 
}

.row .card:last-child{
    margin-right: 0;
}

#game-board{
    justify-content: center;
}

.win-message {
    position: absolute;
    top: 55%;
    left: 50%;
    background-color: rgb(251, 63, 217, 0.5);
    text-align: center;
    line-height: 50px;
    border: 2px solid black;
    z-index: 1; 
    line-height: 200px;
    animation: growAnimation 1.5s forwards; 
}
@keyframes growAnimation {
    from {
        transform: translate(-50%, -50%) scale(0.2);
        width: 60px;
        height: 50px;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        width: 480px;
        height: 300px;
    }
}
